.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.grid {
	display: grid;
	gap: 20px;
	background: #fffbef;
	grid-template-areas:
		'header'
		'home'
		'footer';
}

.header {
	grid-area: header;
	background: #101010;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
}

.home {
	grid-area: home;
	background: #5c0511;
}

.footer {
	grid-area: footer;
	background: #f9ae48;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
